<div class="container">
  <app-navbar title="Home"></app-navbar>
  <div class="container">
      <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <div class="card">
            <div class="card-header">
                <h4>Kyle Burns Résumé</h4>
              <div class="social-btns">
                <button mat-icon-button><a href="https://www.linkedin.com/in/kyle-burns-333588123" target="_blank"><i class="fa fa-linkedin"></i></a></button>
                <button mat-icon-button><a href="https://github.com/kyleburns2" target="_blank"><i class="fa fa-github"></i></a></button>
                <button mat-icon-button><a href="mailto:kyle.burns2@marist.edu"><i class="fa fa-envelope"></i></a></button>
              </div>
            </div>
            <div class="card-footer">
              
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
