<div class="container">
  <app-navbar title="Work Experience"></app-navbar>
  <section class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">computer</i>
          </div>
          <div class="card-content">
              <a href="http://www.cfins.com/" target="_blank"><h4 class="card-title">Crum & Forster
              <small class="category">Summer 2017</small>
            </h4></a>
            <br>
            <ul class="col-sm-12">
                <p>IT Intern</p>
                <li>Developed an online application called QUEST to help the actuarial team with excess trucking insurance quotes</li>
                <li>The application takes user input from a form and makes database calculations to generate a quote</li>
                <li>The application was created using Angular 4 and Node.js and is hosted on AWS cloud servers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">computer</i>
          </div>
          <div class="card-content">
              <a href="http://www.hudsoninsgroup.com/" target="_blank"><h4 class="card-title">Hudson Insurance Group
              <small class="category">Summer 2016</small>
            </h4></a>
            <br>
            <ul class="col-sm-12">
                <p>IT Intern</p>
                <li>Intern analyst assisting the project management office (PMO) of the IT group </li>
                <li>Developed a project financials tracking tool using Excel and macros</li>
                <li>Developed executive summary templates for project reporting within the Jira framework</li>
                <li>Performed analysis on infrastructure usage statistics software leading to a tool selection for the department</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
