<div class="container">
  <app-navbar title="Service and Activities"></app-navbar>
  <section class="container">
    <div class="row" style="margin-top: 30px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">mic</i>
          </div>
          <div class="card-content">
              <h4 class="card-title">WMAR Marist College Radio
              <small class="category">2016-2017</small>
            </h4>
            <br>
            <ul class="col-sm-12">
                <p>Co-Host</p>
                <li>Apart of a radio show talking about current news on various subjects</li>
                <li>Weekly night show lasting about 2hrs
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">star</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Eagle Scout
            <small class="category">2014</small>
            </h4>
            <br>
            <ul class="col-sm-12">
              <p>Project</p>
              <li>Designed, managed and led a 145 man hour service project to landscape and
                  improve an area outside of my high school</li>
              <li>The project included leading 30 
                  volunteers to trim overgrown shrubs and trees, mulch, and plant new plants
              </li>
              <li>The project also included renovating two benches and building a new bench</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
