<div class="container">
  <app-navbar title="Education"></app-navbar>
  <section class="container">
    <div class="row" style="margin-top: 30px">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="material-icons">computer</i>
            </div>
            <div class="card-content">
                <a href="http://www.marist.edu/" target="_blank"><h4 class="card-title">Marist College
                <small class="category">May 2019</small>
              </h4></a>
              <br>
              <ul class="col-sm-12">
                  <li>Bachelor of Science in Computer Science: Concentration in Software Development</li>
                  <li>Minor: Information Technology, Cybersecurity, and Data Analytics</li>
                  <li>Cumulative GPA: 3.32</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</section>
</div>
