<div class="container">
  <app-navbar title="Portfolio"></app-navbar>
  <section class="container">
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        <div class="wizard-panel card">
          <div class="wizard-header">
            <h3 class="text-center">CMPT 192 Project</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">Website for the Hundson Valley Refugee ALiance</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="text-uppercase text-center">Page 1</li>
              <li class="text-uppercase text-center">Page 2</li>
              <li class="text-uppercase text-center">Page 3</li>
            </ul>
            <div class="move-tab text-center text-uppercase">Page 1</div>
          </div>
          <div class="wizard-body">
            <div class="wizard-tab">
              Page 1 Content
            </div>
            <div class="wizard-tab">
              Page 2 Content
            </div>
            <div class="wizard-tab">
              Page 3 Content
            </div>
          </div>
          <div class="wizard-footer">
            <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        <div class="wizard-panel card">
          <div class="wizard-header">
            <h3 class="text-center">Instant Quote</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">Web Application for Crum & Forster</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="text-uppercase text-center">Page 1</li>
              <li class="text-uppercase text-center">Page 2</li>
              <li class="text-uppercase text-center">Page 3</li>
            </ul>
            <div class="move-tab text-center text-uppercase">Page 1</div>
          </div>
          <div class="wizard-body">
            <div class="wizard-tab">
              Page 1 Content
            </div>
            <div class="wizard-tab">
              Page 2 Content
            </div>
            <div class="wizard-tab">
              Page 3 Content
            </div>
          </div>
          <div class="wizard-footer">
            <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        <div class="wizard-panel card">
          <div class="wizard-header">
            <h3 class="text-center">CMPT 435: Data Structures and Algorithms</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">Algorithms Project</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="text-uppercase text-center">Page 1</li>
              <li class="text-uppercase text-center">Page 2</li>
              <li class="text-uppercase text-center">Page 3</li>
            </ul>
            <div class="move-tab text-center text-uppercase">Page 1</div>
          </div>
          <div class="wizard-body">
            <div class="wizard-tab">
              Page 1 Content
            </div>
            <div class="wizard-tab">
              Page 2 Content
            </div>
            <div class="wizard-tab">
              Page 3 Content
            </div>
          </div>
          <div class="wizard-footer">
            <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row page-title">
      <div class="col-md-10 col-md-offset-1">
        <div class="wizard-panel card">
          <div class="wizard-header">
            <h3 class="text-center">CMPT 333: Language Studies</h3>
            <h5 class="text-center" style="margin-top: 5px; padding: 0 20px;">Website for the Hundson Valley Refugee ALiance</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="text-uppercase text-center">Page 1</li>
              <li class="text-uppercase text-center">Page 2</li>
              <li class="text-uppercase text-center">Page 3</li>
            </ul>
            <div class="move-tab text-center text-uppercase">Page 1</div>
          </div>
          <div class="wizard-body">
            <div class="wizard-tab">
              Page 1 Content
            </div>
            <div class="wizard-tab">
              Page 2 Content
            </div>
            <div class="wizard-tab">
              Page 3 Content
            </div>
          </div>
          <div class="wizard-footer">
            <button id="preBtn" class="btn btn-danger" (click)="preOnClick()">Previous</button>
            <button id="nextBtn" class="btn btn-success" (click)="nextOnClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
